# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Distribution / packaging
env/*
develop-eggs/*
downloads/*
lib/*
lib64/*
parts/*
var/*


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
.cache
nosetests.xml
coverage.xml
.pytest_cache/
*.cover
.hypothesis/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

lint_report.txt
*.log

# Per-project virtualenvs
.venv*/
.conda*/
.python-version

